:root {
  --primary-bg-color: linear-gradient(to bottom, #37244c, #5e6c8a);
  --primary-text-color: #fff;
  --foreground-bg-color: #aa647a;
  --accent-color: #29a9be;
  --default-border: none;
}

.clickable:hover {
  cursor: pointer;
  color: #37244c;
}

.largeText {
  font-size: 1.5rem;
}

input {
  text-align: center;
}

.modal-content {
  background-color: var(--foreground-bg-color);
  color: var(--primary-text-color);
}

.elevated {
  box-shadow: 2.2px 4.3px 4.3px hsl(0deg 0% 0% / 0.43);
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}
